{% extends 'base.html'%}
{% block content %} 
{{ block.super}}
  <style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 700px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
  
  
  }
  
  div.desc {
    padding: 25px;
    text-align: center;
    font-size: x-large;

  }
  </style>

{% for image in image %}
      <div class="gallery">          
        <img  src="{{image.image.url }}" class="img-responsive" alt="Image" width="600">
          <div class="desc">{{image.description}}</div>
        </div>
 
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No images</h2>
  </div>
  {% endfor %}



{% endblock %}