{% extends 'base.html'%}
{% block content %} 
{{ block.super}}
  <style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    height: fit-content;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
  
  
  }
  
  div.desc {
    padding: 25px;
    text-align: center;
    font-size: x-large;

  }
  </style>

<span id="locations">
  {% for location in locations %}
      <a class="btn btn-outline-info btn-sm" id="btn"
         href="/location/{{location.location}}">{{location.location}}</a>
  {%endfor%}
</span>

{% for image in image %}
      <div class="gallery">          
        <img  src="{{image.image.url }}" class="img-responsive" alt="Image" width="200" style="height: 500px; width:auto;">
          <div class="desc">{{image.description}}</div>
        </div>
 
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No images</h2>
  </div>
  {% endfor %}



{% endblock %}