<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <ul class="nav nav-tabs navbar-inverse" style="padding: 10px; font-size: x-large; text-decoration: none;">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/category/Travel">Travel</a></li>
                <li role="presentation"><a href="/category/Food">Food</a></li>
              
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Location
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/location/Paris">Paris</a></li>
                <li role="presentation"><a href="/location/Africa">Africa</a></li>
                <li role="presentation"><a href="/location/America">America</a></li>
                <li role="presentation"><a href="/location/Asia">Asia</a></li>
              
              
            </ul>
          </li>
          <div class="col-sm-4 col-md-4 navbar-right">
    
            <form class="navbar-form" role="search" action="">
    
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
    
            </form>
          </div>
      </ul>

</body>