<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/image.css' %}">
</head>
<body>
  
    <ul class="navbar navbar-inverse" style="font-size: xx-large; text-decoration: none; padding: 0%;">  
      
        <a  style="color: white;" href="/">Home</a></li>
    
          <div class="dropdown">
            <a class="dropdown-toggle" style="color: white;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/category/Travel">Travel</a></li>
              <li><a class="dropdown-item" href="/category/Food">Food</a></li>
    
            </ul>
          </div>
        
          <div class="dropdown">
            <a class="dropdown-toggle" style="color: white;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Location
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/location/Paris">Paris</a></li>
                <li role="presentation"><a href="/location/Africa">Africa</a></li>
                <li role="presentation"><a href="/location/America">America</a></li>
                <li role="presentation"><a href="/location/Asia">Asia</a></li>
              
              
            </ul>
          </div>
          
            <div class="cover" style="
              width: 750px;
              background-color:#191970;
              border-radius: 20px;
              box-shadow: 0 10px 40px #191970, 0 0 0 10px #ffffffeb;
              transform: scale(0.6);">
              <form method="get" action="/search">
                <div class="tb">
                  <div class="td"><input type="text" placeholder="Search Image Category" name="search" required style="color: white;"></div>
                  <div class="td" id="s-cover">
                    <button type="submit">
                      <div id="s-circle"></div>
                      <span></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
         
      </ul>

</body>