<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/image.css' %}">
</head>
<body>
  
    <ul class="nav nav-tabs navbar-inverse" style="font-size: xx-large; text-decoration: none;">  
      
        <li style="margin-top: 1%; margin-left: 10%;" role="presentation"><a href="/">Home</a></li>
        <li style="margin-top: 1%; margin-left: 5%;" role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/category/Travel">Travel</a></li>
                <li role="presentation"><a href="/category/Food">Food</a></li>
              
            </ul>
          </li>
          <li style="margin-top:1%; margin-left: 5%;" role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Location
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/location/Paris">Paris</a></li>
                <li role="presentation"><a href="/location/Africa">Africa</a></li>
                <li role="presentation"><a href="/location/America">America</a></li>
                <li role="presentation"><a href="/location/Asia">Asia</a></li>
              
              
            </ul>
          </li>
          
            <div id="cover">
              <form method="get" action="/search">
                <div class="tb">
                  <div class="td"><input type="text" placeholder="Search Image Category" name="search" required></div>
                  <div class="td" id="s-cover">
                    <button type="submit">
                      <div id="s-circle"></div>
                      <span></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
         
      </ul>

</body>